html,
body,
#root,
.app,
.content {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
}

.app {
  display: flex;
  position: relative;
}

.ck.ck-balloon-panel.ck-balloon-panel_visible {
  display: none;
}
